huggingface-hub==1.23.0
hf-xet==1.5.1
soundfile==0.14.0
sounddevice>=0.5.1,<0.6
descript-audiotools==0.7.2
transformers==5.5.0
sentencepiece==0.2.1
safetensors==0.8.0
pyyaml==6.0.3
tqdm==4.68.3
datasets==5.0.0
dill==0.4.1
multiprocess==0.70.19
pyarrow==25.0.0
xxhash==3.8.1
numpy==2.4.6
numba==0.65.1
llvmlite==0.47.0
peft==0.19.1
gradio==6.17.3
wandb==0.28.0
flask==3.1.3
pyaml==26.7.0
PySide6==6.11.1
dacvae @ git+https://github.com/facebookresearch/dacvae.git@414c20785fc3a28373073ea8ef7a1316eeeaca6e
silentcipher @ git+https://github.com/SesameAILabs/silentcipher.git@d46d7d0893a583d8968ab3a6626e2289faec9152
